<label for="student">
  Student
</label>
<select [(ngModel)]="studentId" id="student">
  <option value="" disabled selected>>select a student</option>
  <option *ngFor="let student of students" [value]="student.id">{{student.name}}</option>
</select>

<label for="problem">
  Problem
</label>
<select [(ngModel)]="problemId" id="problem">
  <option value="" disabled selected>>select a problem</option>
  <option *ngFor="let problem of problems" [value]="problem.id">{{problem.title}}</option>
</select>


<button (click)="createAssignment()">Create</button>
