<form (ngSubmit)="getStudents()">
  <div class="input-group mb-3">
    <input class="form-control" type="text" title="nameFilter" name="nameFilter" [(ngModel)]="nameFilter" placeholder="Filter by name" (keyup)="getStudents()">
    <div class="input-group-append">
      <input type="submit" class="btn btn-outline-primary" value="Filter">
    </div>
  </div>
</form>


<table class="table table-hover table-small">
  <thead>
  <tr>
    <td>Name</td>
    <td>Group number</td>
    <td>Registration number</td>
    <td>Assigned problems</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students" app-student-detail [student]="student" (onTriggerRefresh)="getStudents()">
  </tr>
  </tbody>
</table>
