<td><input type="text" class="form-control" title="name" [readonly]="readonly" [(ngModel)]="student.name" name="name"></td>
<td><input type="text" class="form-control" title="groupNumber" [readonly]="readonly" [(ngModel)]="student.groupNumber" name="groupNumber"></td>
<td><input type="text" class="form-control" title="registrationNumber" [readonly]="readonly" [(ngModel)]="student.registrationNumber" name="registrationNumber"></td>
<td>{{student.assignments.length}}</td>
<td>
  <button class="btn btn-link" (click)="readonly? startEdit() : update()"><i [class]="'fas ' + (readonly? 'fa-pencil-alt' : 'fa-save')"></i></button>
  <button class="btn btn-link" (click)="readonly? deleteStudent() : finishEdit()"><i [class]="'fas ' + (readonly? 'fa-trash-alt' : 'fa-times')"></i></button>
</td>
