<td>
  {{assignment.problemDto.title}}
</td>
<td>
  {{assignment.studentDto.name}}
</td>
<td>
  <input type="number" class="form-control" title="grade" [readonly]="readonly" [(ngModel)]="assignment.grade" name="grade">
</td>

<td>
  <button class="btn btn-link" (click)="readonly? startEdit() : gradeAssignment()"><i [class]="'fas ' + (readonly? 'fa-pencil-alt' : 'fa-save')"></i></button>
  <button class="btn btn-link" (click)="readonly? deleteAssignment() : finishEdit()"><i [class]="'fas ' + (readonly? 'fa-trash-alt' : 'fa-times')"></i></button>
</td>
